body {
  background: linear-gradient(45deg, hotpink, #6e28d9, blue);
  height: 100vh;
  color: white;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

#password-meter {
  height: 7px;
  width:100%;
  background:#ccc;
  border-radius: 4px;
  overflow: hidden;
}

#password-requirements {
  width: 375px;
  & ul {
    margin: 0;
  }
}

#password-strength {
    width: 0;
    height: 7px;
    display: block;
    transition: width 0.3s;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-large {
  gap: 30px;
}

.gap-small {
  gap: 10px;
}

